.carousel {
  display: flex;
  overflow: auto;
}

.carousel_tab_active {
  background-color: gray !important;
  color: white !important;
}

.carousel_item {
  margin-right: 20px;
}

.carousel_item:last-child {
  margin-right: 0;
}

.carousel_item_card_body {
  max-height: 10rem;
}

.carousel_item_img {
  height: 333px;
}

.carousel_item_title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.carousel_item_overview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
