.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/bg-cinema.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
